body{
	font:100% sans-serif;
	margin:0;
	background-image: url(../images/bg.jpg);
}

.content {
	width: 1100px;
	margin: 0 auto;
}

/* ----------header */
header {
	width: 100%;
	overflow: hidden;
}

header a {
	text-decoration: none;
	color: #fff;
}

header a:hover {
	text-decoration: none;
	color: #fff;
}

header form {
	margin-bottom: 0;
}

header form:first-child {
	float: left;
	width: 92.5%;
	margin-top: 1%;
}

header form:first-child input {
	float: right;
	border-radius: 4px;
	border:none;
	margin-left: 5px;
	border:1px solid #eee;
}

header form:nth-child(2) {
	float: right;
	width: 7%;
	margin-top: 1%;
	padding-left:0.5%; 
}

header form:nth-child(2) input {
	float: left;
	border-radius: 4px;
	border:none;
	border:1px solid #eee;
}

header input[type="submit"] {
	padding: 4.8px 6px;
	background-color: #9ACD32;
	color: #fff;
}

header h1 {
	font-family: 'Lobster';
	margin: 0;
	padding: 0 0 0 10px;
	color: #fff;
	background-image: url(../images/bg-h1.jpg);
}

header h3 {
	color: #fff;
	float: right;
	margin:0 0 0 1%;
	padding-left: 1%;
	padding-right: 1%;
}

/* ----------nav */
nav{
	background-color: #BA8E62;
	width:100%;
	clear:both;
	overflow: hidden;
	box-shadow: 0 1px 3px #000
}

nav form {
	margin: 0;
}

nav input[type="text"] {
	margin: 0;
}

nav form:nth-child(2) {
	width: 30%;
	float: left;
	margin-top: 0.5%;
	margin-left: 15%;
}

nav button {
	background-color:  #9ACD32;
	border:none;
	margin-top: 0;
	padding:1.3% 1.3%;
}

nav a {
	text-decoration: none;
	color:#9ACD32;
	font-size: 120%;
}

nav a:hover {
	color: #fff;
}

nav input {
	text-decoration: none;
	color:#fff;
	font-size: 120%;
	background: none;
	border:none;
	margin: 0;
	display: inline-block;
}

nav input:hover {
	color: #9ACD32;
	text-decoration: underline;
}

nav li{
	list-style: none;
	display:inline;
	margin: 0 5px;
}
nav ul{
	float: left;
	margin: 0.8% 2%;
}

nav .cart i{
	width: 5%;
	margin-left: 2%;
	border-radius: 50%;
	transition-duration:0.2s;
	margin-top: 0.5%;
	float: right;
}

nav .cart:hover  i{
	transform:scale(1.1);
	cursor: pointer;
}
/* ----------content home */
.content-home h2 {
	background-color: #BA8E62;
	padding-left:1%;
	color: #fff;
	font-weight: lighter;
	font-size: 160%;
	margin-bottom: 1%; 
}

.produit-recent {
	overflow: hidden;
}

/* ----------footer */
footer{
	background-image: url(../images/bg-h1.jpg);
	width:100%;
	clear:both;
	margin-top: 2%;
	padding: 2% 0;
	overflow: hidden;
}
footer a{
	text-decoration: none;
	color:black;
	color: #fff;
	font-size: 120%;
}

footer a:hover{
	color: #9ACD32;
}

footer p{
	margin-left: 2%;
	float: left;
	color: #fff;
}
footer li{
	list-style: none;
	display:inline;
}
footer ul{
	margin-right: 15px; 
	float:right;
}


/* --------------- class supp */
.green {
	color: #9ACD32;
}

.white {
	color: #fff;
}

.size {
	font-size: 120%;
}

.ico-back {
	width:50px;
	height: 50px
}

.imgb {
	width: 50px;
	height:50px;
}

/********************** INSCRIPTION *********************/
.inscription h2{
	text-align: center;
	font-weight:lighter;
	color:#9ACD32;
}
.bouton_sinscrire{
	border:none;
	border-radius: 3px;
	padding:5px;
	color:white;
}
.inscription input[type="submit"]{
	text-decoration: none;
	color:#9ACD32;
	font-size: 120%;
	background: none;
	border:none;
	margin: 0;
}
.inscription{
	margin: 5% auto;
}

.inscription form{
	font-family:  'Lobster', cursive;
	border-radius: 5px;
	padding:25px;
	margin: 0;
	width: 20%;
	margin: 0 auto;
}
/********************** FIN INSCRIPTION *********************/

/*profil*/
.profil h2{
	text-align: center;
	font-weight:lighter;
	color:#9ACD32;
}
.bouton_sinscrire{
	border:none;
	border-radius: 3px;
	padding:5px;
	color:white;
}
.profil input[type="submit"]{
	text-decoration: none;
	color:#9ACD32;
	font-size: 120%;
	background: none;
	border:none;
	margin: 0;
}
.profil{
	margin: 5% auto;
}

.profil form{
	font-family:  'Lobster', cursive;
	border-radius: 5px;
	padding:25px;
	margin: 0;
	width: 20%;
	margin: 0 auto;
}


/*******************back end*******************/
.backend {
	background-color: #999;
	padding-bottom: 1%;
}

.add-product {
	display: block;
	width: 25%;
	margin: 0 auto;
}

.product-on-line {
	background-color: #999;
}
/******************* FIN back end*******************/

/******************* profil *******************/
.profil form {
	width: 20%;
	margin: 2% auto;
}

.profil input {
	float: left;
}
